RewriteEngine On

# Rute normal ke file PHP
RewriteRule ^(authentications|users|gedung|ruangan|fasilitas|fotoruangan|peminjaman|mahasiswa|kegiatan)/?$ routes/$1.php [NC,L]

# Rute dengan parameter ID
RewriteRule ^(authentications|users|gedung|ruangan|fasilitas|fotoruangan|peminjaman|mahasiswa|kegiatan)/([0-9]+)/?$ routes/$1.php?id=$2 [NC,L]

Header set Access-Control-Allow-Origin "*"
